src/**
target/**
!target/wasm32-unknown-unknown/release/filehandler.wasm
readme_assets/**
.vscode/**
.gitignore
.DS_Store
node_modules/**
!node_modules/@vscode/codicons/**
!node_modules/node-addon-api/**
packages/**
**/node_modules/**
**/target/**
out/**/*.map
dist/**/*.map
wit/**
*.vsix
toDo*
Cargo.*
.*/**